body {
    background-color: #006276 !important;
}

.div-principal {
    border:1px solid gray;
    margin:20px;
    padding:20px;
    background-color: white;
    border-radius: 3px;
}

.balao_resultado {
    border-radius: 6px;
    background-color: lightgray;
    padding:5px;
    margin:0px;
    margin-top: 5px;
}

.return-button {
    margin-top: 5px;
}

footer {
    font-size:11px;
    margin-top:15px;
}

h3 {
    margin-top:2px;
    margin-bottom: 25px !important;
}

#input_formula {
    width:50%;
    margin-right: 5px !important;
    display: inline;
}

.btn {
    margin-bottom: 5px !important;
}

#input_alert {
    width: 50%;
}

#dropAjuda {
    font-size:11px;
    max-width:50%;
    border:1px solid lightgray;
    padding:8px;
}